#navbar{
    color: white;
    font-size: larger;
    font-style: bold;
}


/* langauge divs */
#language{
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    width: 100%;
    background-color: #7B7B7B;
}

#lang{
    padding-top: 3px;
    font-size: larger;
    font-weight: 500;
}

.table_header{
    font-size: 30pt;
    font-weight: 500;

}

.center{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

#hr{
    height: 5px;
    background-color: black;
}

.innerdiv{
    width: 60%;
}



.tr-row{
    padding: 12px;
    border-top: 6px solid #526684;
}

.tr-col{
    background-color:#6082B6;
    ;
}

.center-div{
    padding: 12px;
    color: #526684;
}

.td-row{
    color: #337ab7;
}

.form-div{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

input[type="radio"]{
    margin: 0 0 0 10px;
  }